Source: lingmo-pkgbuild
Section: devel
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 13),
               cmake,
               gettext,
               build-essential,
               dpkg-dev
Standards-Version: 4.6.0
Homepage: https://lingmo.org
Rules-Requires-Root: no

Package: lingmo-pkgbuild
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         build-essential,
         dpkg-dev,
         gettext
Description: Lingmo OS Package Build Tools
 A collection of tools for building and managing Debian packages for Lingmo OS.
 .
 This package provides:
  * lingmo-pkgbuild: A tool for building Debian packages
  * lingmo-repotool: A tool for managing Debian package repositories 